<p>home works!</p>
<form #f="ngForm" (ngSubmit)="get(f)">
    <!-- firstName -->
    <div class="mb-3">
        <input   type="text" name = "firstName" #firstName="ngModel" ngModel class="form-control" placeholder="First name" required>
        <p class="alert alert-danger" *ngIf="firstName.errors?.required && firstName.touched">first name is required</p>
    </div>

    <!-- email -->
    <div class="mb-3">
        <input   type="email" name = "email" #email="ngModel" ngModel class="form-control" placeholder="Email" required email>
        <p class="alert alert-danger" *ngIf="email.errors?.required && email.touched">Email is required</p>
        <p class="alert alert-danger" *ngIf="email.errors?.email && email.touched">this input should contain e-mail</p>
    </div>

    <!-- password -->
    <div class="mb-3">
        <input   type="password" name = "password" #password="ngModel" ngModel class="form-control" placeholder="Password" required minlength="8">
        <p class="alert alert-danger" *ngIf="password.errors?.required && password.touched">Password is required</p>
        <p class="alert alert-danger" *ngIf="password.errors?.minlength && password.touched">Password should compose > 8 caracters</p>
    </div>

    <!-- ConfirmPassword -->
    <div class="mb-3">
        <input   type="password" name = "ConfirmPassword" #ConfirmPassword="ngModel" ngModel class="form-control" placeholder="Password" required>
        <p class="alert alert-danger" *ngIf="ConfirmPassword.errors?.required && ConfirmPassword.touched">ConfirmPassword is required</p>
        <p class="alert alert-danger" *ngIf="password.value != ConfirmPassword.value && ConfirmPassword.touched ">not equal</p>
    </div>

    <button class="btn btn-primary" type="submit" disabled="f.invalid" >GET</button>
</form>